body{
    background-color: #666;
}
.num{
    width: 800px;
    margin: 30px auto 0;
    padding: 20px;
    border: 2px solid #333;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.no>span{
    display: inline-block;
    width: 300px;
    text-align: center;
    font-size: 30px;
    line-height: 110px;
}
.select{
    width: 500px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 30px;
}
.select label{
    display: inline-block;
    width: 100px;
}
.select select{
    width: 180px;
    font-size: 30px;
    line-height: 35px;
}